---
http_interactions:
- request:
    method: get
    uri: https://feeder.briefcake.com/picuki/profile/5katkov/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"3a4f-/xRx7jJqxvOU6Oec7M+JGqhHBvk"'
      Last-Modified:
      - Thu, 19 Aug 2021 23:49:21 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss  xmlns:atom=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\"\n\n>\n    <channel>\n        <title><![CDATA[S.K. (@5katkov)
        - Picuki]]></title>\n        <link>https://www.picuki.com/profile/5katkov</link>\n
        \       <atom:link href=\"https://feeder.briefcake.com/picuki/profile/5katkov/\"
        rel=\"self\" type=\"application/rss+xml\" />\n        <description><![CDATA[\n
        \           Confused bi-product of superstition, misinformation and prejudice.
        \       ]]></description>\n        <generator>Briefcake Feeder</generator>\n
        \       <webMaster>contact@briefcake.com</webMaster>\n        \n        \n
        \       \n        <language>zh-cn</language>\n        \n        <image>\n
        \           <url>/hosted-by-instagram/url=https%3A%7C%7C%7C%7Cinstagram.flwo4-2.fna.fbcdn.net%7C%7Cv%7C%7Ct51.2885-19%7C%7Cs150x150%7C%7C18161964_1855992498008341_8338945417710403584_a.jpg%3F_nc_ht%3Dinstagram.flwo4-2.fna.fbcdn.net%26_nc_ohc%3D3QkkWefKOCcAX9s_5IZ%26edm%3DAAWvnRQBAAAA%26ccb%3D7-4%26oh%3De908fbfd76eaf3ca19f5aa8b757fc17f%26oe%3D6124BEDE%26_nc_sid%3De7738c</url>\n
        \           <title><![CDATA[S.K. (@5katkov) - Picuki]]></title>\n            <link>https://www.picuki.com/profile/5katkov</link>\n
        \       </image>\n        \n        <lastBuildDate>Thu, 19 Aug 2021 23:49:21
        GMT</lastBuildDate>\n        <ttl>5</ttl>\n        \n        <item>\n            <title><![CDATA[Democratization
        of kitchen! Label all the things!]]></title>\n            <description><![CDATA[<img
        src=\"https://www.picuki.com/hosted-by-instagram/url=https%3A%7C%7C%7C%7Cscontent-yyz1-1.cdninstagram.com%7C%7Cv%7C%7Ct51.2885-15%7C%7Csh0.08%7C%7Ce35%7C%7Cc180.0.1080.1080a%7C%7Cs640x640%7C%7C239407240_530010264725307_4155031709315755596_n.jpg%3F_nc_ht%3Dscontent-yyz1-1.cdninstagram.com%26_nc_cat%3D103%26_nc_ohc%3DXqURynLqEPgAX958GGY%26edm%3DABfd0MgBAAAA%26ccb%3D7-4%26oh%3D2d0192b199f45ff7907cbfa9c4a03ca0%26oe%3D61260A72%26_nc_sid%3D7bff83\"
        referrerpolicy=\"no-referrer\">]]></description>\n            <pubDate>Thu,
        19 Aug 2021 18:49:21 GMT</pubDate>\n            <guid isPermaLink=\"false\">https://www.picuki.com/media/2643883811195507636</guid>\n
        \           <link>https://www.picuki.com/media/2643883811195507636</link>\n
        \           \n            \n            \n            <author><![CDATA[@5katkov]]></author>\n
        \           \n                \n            \n            \n        </item>\n
        \       \n        <item>\n            <title><![CDATA[Our second batch of
        homegrown greenery.]]></title>\n            <description><![CDATA[<img src=\"https://www.picuki.com/hosted-by-instagram/url=https%3A%7C%7C%7C%7Cscontent-yyz1-1.cdninstagram.com%7C%7Cv%7C%7Ct51.2885-15%7C%7Csh0.08%7C%7Ce35%7C%7Cs640x640%7C%7C236463251_282878553640040_6503600452837926805_n.jpg%3F_nc_ht%3Dscontent-yyz1-1.cdninstagram.com%26_nc_cat%3D108%26_nc_ohc%3DVHrz2nm8SIkAX_xCnFM%26tn%3DbJ5Cuq_mIj0BeV_p%26edm%3DABfd0MgBAAAA%26ccb%3D7-4%26oh%3D1646e4854f3687c775ad219a34d34792%26oe%3D6125E866%26_nc_sid%3D7bff83\"
        referrerpolicy=\"no-referrer\">]]></descript[...]
