<div class="mx-auto max-w-2xl w-full mx-5 mt-5">

    <h1>Bot Report</h1>
    <ul>
        <li>
            Inactive Accounts: <%= @bots %>
        </li> 
        <li>
            Active Accounts: <%= @humans %>
        </li>
        <li>
            Total Accounts: <%= @bots + @humans %>
        </li>
    </ul>
</div>  