<div class="mx-auto py-10">
	<div class="max-w-xl px-2 mx-auto mb-12 text-gray-700">
		<h1 class="text-2xl text-gray-700">Integration with Browsers</h1>

		<div class="py-3 mx-auto">
			<%= image_tag("briefcake-bookmarklet.gif", class: "mx-auto") %>
		</div>

		<p class="py-3">Briefcake.com uses bookmarklets for browser integration. Bookmarklets are little javascript links that live in the bookmarks toolbar of your browser. We provide two types of bookmarklets, pick one and add it to your bookmarks toolbar:</p>
		<ul class="list-disc pl-6 pb-6 pt-3">
			<li class="py-1"> <a class="p-1 border-2 border-dashed rounded border-blue-500 bg-blue-200" href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('https://briefcake.com/feeds/new?url='+encodeURIComponent(location.href),'briefcake.com','toolbar=no,scrollbars=yes,width=1000,height=700'));">popup</a> opens new feed page with url prefilled</li>
			<li class="py-1"> <a class="p-1 border-2 border-dashed rounded border-blue-500 bg-blue-200" href="javascript:if(document.getSelection){s=document.getSelection();}else{s='';};document.location='https://briefcake.com/feeds/new?url='+encodeURIComponent(location.href);">same page</a> will load new feed page in a same window</li>
		</ul>

		<p class="py-3">If you use <b>Firefox</b>, <b>Safari</b>, <b>Chrome</b> or <b>Opera</b>, you can drag these links up to your bookmarks toolbar. You can rename them to whatever you like by right-clicking and choosing 'edit name'.</p>

		<p class="py-3">If you're using <b>Internet Explorer</b>, dragging won't work. Right-click on the bookmarklet instead, and select 'add to Favorites' at the prompt.</p>
	</div>
</div>

