<span class="pill pill--secondary hover:bg-blue-200 cursor-pointer" data-action="click->feed#example" data-url="<%= url %>">
  <svg style="width:1em;height:1em; position: relative; top: -1px" viewBox="0 0 24 24" class="inline">
    <path fill="#4a5568" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
  </svg>
  <%= name %>
</span>
