  <%= form_with(model: feed, local: true, class: "card p-4") do |form| %>
  <%= render "shared/flash", flash: feed.errors %>


  <div class="field flex justify-between items-center mb-0">
    <%= form.submit class: "btn btn--primary" %>

    <% if feed.persisted? %>
      <%= link_to "Destroy", feed, method: :delete, class: "text-red-600", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>

