<div class="max-w-xl mx-auto">
  <div class="card">
    <div class="card--light">
      <div class="card__content">
        <h1 class="text-3xl mb-4">Export OPML</h1>
        <div class="flex flex-col items-end md:flex-row md:items-center">
          <p class="text-gray-600">
            OPML is a popular interchange format for RSS feeds. If you wish to make a backup copy of your subscription list or migrate to a different service, an OPML copy of your feed list may come in handy. Or if you just want to share your feed list with a friend!
          </p>
          <%= link_to "Export OPML", feeds_path(format: :xml), class: "btn btn--primary whitespace-no-wrap" %>
        </div>
      </div>
    </div>
  </div>
</div>