<div class="max-w-4xl mx-auto">
  
  <div class="w-full flex" data-controller="preview" data-preview-url="<%= preview_feeds_path %>">
    <div class="w-full md:w-1/2">
      <h1 class="text-3xl mb-4">Add website</h1>
      <%= render "form", feed: @feed %>
    </div>
    <div class="w-1/2 hidden md:block relative ml-6">
      <%= render "pages/chrome" do %>
        <iframe data-target="preview.iframe" class="w-full" style="height: 400px"></iframe>
      <% end %>
    </div>
  </div>

  <div class="text-center mt-10">
    <%= link_to "You can also import an .opml file", import_path, class: "btn btn--primary" %>
  </div>
</div>

