<div class="p-2">
  <p class="mb-3">
    Hello <%= @greeting %>,
  </p>

  <p class="mb-6">
    I'm sending this email because you signed up for <a href="https://rssmailer.app">RSSMailer</a>.
    As a quick refresher; it's a service that sends you a daily email for new articles on the sites
    you choose.
  </p>

  <p class="mb-3">
    I created RSSMailer last year, but lately it's really hard for me to give the project the
    attention it deserves. That's why I'm super excited to transfer the ownership of RSSMailer to
    Pip Labs. They are really eager to continue with RSSMailer and develop it further.
    <a href="https://piplabs.io/">Pip Labs</a> have a strong focus on privacy and that is one of the
    reasons why I was happy to transfer it to Joshua and his team.
  </p>

  <p class="mb-3">
    Just in case you want to cancel and delete your account before the transfer, you can visit your
    <%= link_to "account page", edit_user_registration_url %> and click on the delete account
    button.
  </p>

  <p class="mb-3">
    Thanks again for signing up, it was great to see so many people use RSSMailer, and I look
    forward
    to continuing as a user myself. ❤️
  </p>

  <p class="mb-3">
    If you have any questions, hit reply or send me a Tweet.
  </p>
  <p class="mb-3">
    Have a great day,<br>
    Jankees – <a href="https://twitter.com/@jankeesvw">@jankeesvw</a>
  </p>
</div>
