---
http_interactions:
- request:
    method: get
    uri: https://timiapp.com/blog.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d279dfd355160dd108eec15e398c4e52"
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rss version="2.0">
          <channel>
            <title>Timi – Blog</title>
            <description>Artikelen over Timi, bootstrapped ondernemen, productivity en alles wat een Lean
              Startup zoal meemaakt!
            </description>
            <link>https://timiapp.com/blog</link>
            <item>
              <title>first item in feed</title>
              <description></description>
              <pubDate>18 Sep 2015</pubDate>
              <link>https://timiapp.com/blog/a</link>
              <guid>https://timiapp.com/blog/a</guid>
            </item>
          </channel>
        </rss>
  recorded_at: Mon, 29 Jul 2019 18:15:50 GMT
recorded_with: VCR 5.0.0
