---
http_interactions:
- request:
    method: get
    uri: https://news.ycombinator.com/rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <rss version="2.0">
          <channel>
            <title>Hacker News</title>
            <link>https://news.ycombinator.com/</link>
            <description>Links for the intellectually curious, ranked by readers.</description>
            <item>
              <title>You’re Paying into a Broken System Whenever You Buy Something on iOS</title>
              <link>
                https://onezero.medium.com/youre-paying-into-a-broken-system-whenever-you-buy-something-on-ios-3f3aa88ecf8c
              </link>
              <pubDate>Tue, 30 Jul 2019 14:39:14 +0000</pubDate>
              <comments>https://news.ycombinator.com/item?id=20565192</comments>
              <description>
                <![CDATA[<a href="https://news.ycombinator.com/item?id=20565192">Comments</a>]]></description>
            </item>
            <item>
              <title>What’s New in ES2019</title>
              <link>https://blog.tildeloop.com/posts/javascript-what%E2%80%99s-new-in-es2019</link>
              <pubDate>Tue, 30 Jul 2019 09:30:11 +0000</pubDate>
              <comments>https://news.ycombinator.c[...]
