---
http_interactions:
- request:
    method: get
    uri: https://reinierladan.nl/feed/index.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Etag:
      - '"6ec98f7ea84a37d44a98c71746d64635-ssl"'
      X-Nf-Request-Id:
      - 0d8fb68d-c805-4b6f-9e13-9015f58c3822-42270274
    body:
      encoding: ASCII-8BIT
      string: |

        <?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom" xml:lang="NL"><generator uri="https://jekyllrb.com/" version="3.8.5">Jekyll</generator><link href="/feed/index.xml" rel="self" type="application/atom+xml" /><link href="/" rel="alternate" type="text/html" hreflang="NL" /><updated>2019-09-26T12:20:35+00:00</updated><id>/feed/index.xml</id><title type="html">Hi, Reinier hier.</title><subtitle>Alles over Reinier Ladan</subtitle><author><name>Reinier Ladan</name></author><entry><title type="html">Clueyness Anxiety Tobolowsky</title><link href="/2019/09/26/Clueyness-Anxiety-Tobolowsky" rel="alternate" type="text/html" title="Clueyness Anxiety Tobolowsky" /><published>2019-09-26T06:20:00+00:00</published><updated>2019-09-26T06:20:00+00:00</updated><id>/2019/09/26/Clueyness-Anxiety-Tobolowsky</id><content type="html" xml:base="/2019/09/26/Clueyness-Anxiety-Tobolowsky">&lt;p&gt;Hi, Reinier hier,&lt;/p&gt;

        &lt;p&gt;Heads up: volgende week is er even geen nieuwsbrief maar 1 oktober valt hij gewoon weer op je digitale mat.&lt;/p&gt;

        &lt;p&gt;🤯&lt;/p&gt;

        &lt;p&gt;Door het lezen van de nieuwe Wait But Why serie (zie tip in &lt;a href=&quot;https://reinierladan.nl/2019/09/20/diepste-tijdreis-story&quot;&gt;de vorige nieuwsbrief&lt;/a&gt;) kwam ik achter &lt;a href=&quot;https:[...]
