---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/feeds/videos.xml?channel_id=UCCVxhT-bl0ZMRzbpNolErCg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns:yt="http://www.youtube.com/xml/schemas/2015" xmlns:media="http://search.yahoo.com/mrss/" xmlns="http://www.w3.org/2005/Atom">
         <link rel="self" href="http://www.youtube.com/feeds/videos.xml?channel_id=UCCVxhT-bl0ZMRzbpNolErCg"/>
         <id>yt:channel:UCCVxhT-bl0ZMRzbpNolErCg</id>
         <yt:channelId>UCCVxhT-bl0ZMRzbpNolErCg</yt:channelId>
         <title>Grisha Goryachev - Topic</title>
         <link rel="alternate" href="https://www.youtube.com/channel/UCCVxhT-bl0ZMRzbpNolErCg"/>
         <author>
          <name>Grisha Goryachev - Topic</name>
          <uri>https://www.youtube.com/channel/UCCVxhT-bl0ZMRzbpNolErCg</uri>
         </author>
         <published>2015-09-23T08:03:46+00:00</published>
         <entry>
          <id>yt:video:768WjoD62wU</id>
          <yt:videoId>768WjoD62wU</yt:videoId>
          <yt:channelId>UCCVxhT-bl0ZMRzbpNolErCg</yt:channelId>
          <title>Asturias</title>
          <link rel="alternate" href="https://www.youtube.com/watch?v=768WjoD62wU"/>
          <author>
           <name>Grisha Goryachev - Topic</name>
           <uri>https://www.youtube.com/channel/UCCVxhT-bl0ZMRzbpNolErCg</uri>
          </author>
          <published>2018-08-11T04:11:44+00:00</published>
          <updated>2019-04-17T06:01:17+00:00</updated>
          <media:group>
           <media:title>Asturias</media:title>
           <media:content url="https://www.youtube.com/v/768WjoD62wU?version=3" type="application/x-shockwave-flash" width="640" height="390"/>
           <media:thumbnail url="https://i4.ytimg.com/vi/768WjoD62wU/hqdefault.jpg" width="480" height="360"/>
           <media:description>Provided to YouTube by Music Video Distributors Inc.

        Asturias · Grisha Goryachev

        Alma Flamenca

        ℗ VGo Recordings

        Released on: 2013-10-07

        Artist: Grisha Goryachev

        Auto-generated by YouTube.</media:description>
           <media:community>
            <media:starRating count="17" average="5.00" min="1" max="5"/>
            <media:statistics views="595"/>
           </media:community>
          </media:group>
         </entry>
         <entry>
          <id>yt:video:E5Vv6TokrK4</id>
          <yt:videoId>E5Vv6TokrK4</yt:videoId>
          <yt:channelId>UCCVxhT-bl0ZMRzbpNolErCg</yt:channelId>
          <title>Granada</title>
          <link rel="alternate" href="https://www.youtube.com/watch?v=E5Vv6TokrK4"/>
          <author>
           <name>Grisha Goryachev - Topic</name>
           <uri>https://www.youtube.com/channel/UCCVxhT-bl0[...]
