---
http_interactions:
- request:
    method: get
    uri: https://daringfireball.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html lang="en"  class="daringfireball-net">
        <head>
        	<meta charset="UTF-8" />
        	<title>Daring Fireball</title>
        	<meta name="viewport" content="width=500, minimum-scale=0.45" />
        	<link rel="apple-touch-icon-precomposed" href="/graphics/apple-touch-icon.png" />
        	<link rel="shortcut icon" href="/graphics/favicon.ico?v=005" />
        	<link rel="mask-icon" href="/graphics/dfstar.svg" color="#4a525a">
        	<link rel="stylesheet" type="text/css" media="screen"  href="/css/fireball_screen.css?v1.91" />
        	<link rel="stylesheet" type="text/css" media="screen"  href="/css/ie_sucks.php" />
        	<link rel="stylesheet" type="text/css" media="print"   href="/css/fireball_print.css?v01" />
        	<link rel="alternate"  type="application/atom+xml"     href="/feeds/main" />
        	<link rel="alternate"  type="application/json"         href="/feeds/json" />
        	<link href="https://micro.blog/gruber" rel="me" />
        	<script src="/js/js-global/FancyZoom.js" type="text/javascript"></script>
        	<script src="/js/js-global/FancyZoomHTML.js" type="text/javascript"></script>
        </head>
        <body  class="daringfireball-net"  onload="setupZoom()">
        <div id="Box">

        <div id="Banner">
        <a href="/" title="Daring Fireball: Home"><img src="/graphics/logos/" alt="Daring Fireball" height="56" /></a>
        </div>

        <div id="Sidebar">
        <p>By <strong>John&nbsp;Gruber</strong></p>

        <ul><!--&#9733;-->
        <li><a href="/archive/" title="Previous articles.">Archive</a></li><li><script type="text/javascript">
        // <![CDATA[
        function ReadCookie(name) {
        	var nameEQ = name + "=";
        	var ca = document.cookie.split(';');
        	for(var i=0; i < ca.length; i++) {
        		var c = ca[i];
        		while (c.charAt(0)==' ') c = c.substring(1, c.length);
        		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        	}
        	return null;
        }
    [...]
