<footer class="text-gray-500 flex flex-col justify-around h-full text-lg lato">
  <div class="flex justify-around mb-4">
    <div>
      <%= link_to "Contact", "mailto:hello@briefcake.com", class: "mr-3 lg:mr-6" %>
      <%= link_to "Cookie Policy", "/cookie-policy", class: "ml-3 lg:ml-6" %>
      <%= link_to "TOS", "/terms-of-service", class: "ml-3 lg:ml-6" %>
      <%= link_to "Privacy", "/privacy-policy", class: "ml-6 lg:ml-12" %>  
    </div>
  </div>
  <p class="text-center">&copy; Briefcake</p>

</footer>

