<footer class="text-gray-600 flex flex-col justify-center h-full">
  <div class="flex justify-around mb-4">
    <div>
      <%= link_to "Contact", "#", class: "mr-4" %>
      <%= link_to "FAQ", about_path(anchor: "faq"), class: "ml-4" %>
      <%= link_to "Privacy", "#", class: "ml-8" %>  
    </div>
  </div>
  <p class="text-center">&copy; briefcake</p>

</footer>

