<footer class="text-gray-500 flex flex-col justify-around h-full text-lg lato">
  <div class="flex justify-around mb-4">
    <div>
      <%= link_to "Login", new_user_session_path, class: "mr-6 lg:mr-12" %>
      <%= link_to "Contact", "mailto:contact@briefcake.com", class: "mr-3 lg:mr-6" %>
      <%= link_to "Terms", "/terms-of-service", class: "ml-3 lg:ml-6" %>
      <%= link_to "Privacy", "/privacy-policy", class: "ml-6 lg:ml-12" %>  
    </div>
  </div>
  <p class="text-center">&copy; Briefcake</p>

</footer>

