<li class="relative pl-6">
  <%= embedded_svg("checkmark.svg", class: "w-4 absolute top-4 top-0 left-0 my-2") %>
  <div class="inline"><%= feature %></div>
  <% if local_assigns[:soon].present? %>
    <div class="inline pill pill--tertiary h-auto ml-2 h-1">soon</div>
  <% end %>
</li>
