<div class="mx-auto max-w-2xl w-full px-5 pt-5">
  <div class="mb-8 border bg-white border-gray-300 rounded-lg p-4 pt-0">


    <div class="text-base font-normal text-black font-medium pt-4">
      <a class="black underline" href="https://m.signalvnoise.com/the-hardest-leadership-advice-to-follow/">The
        hardest leadership advice</a>
    </div>

    <div class="text-xs text-gray-600 font-normal mb-2">
      Signal vs. Noise - July 8, 2019
    </div>

    <div class="text-base text-left feed-content">
      <p>We all know we’re supposed to “work on the business and not in the business” as a leader…
        but what holds us back?</p>
      <p>Work on the business, not in the business. Pause. Step back. Take stock. Reflect.</p></div>


  </div>

  <div class="mb-8 border bg-white border-gray-300 rounded-lg p-4 pt-0">


    <div class="text-base font-normal text-black font-medium pt-4">
      <a class="black underline" href="https://www.youtube.com/watch?v=ROkXM3csNWY">The Last (and
        First) Folding Phone!</a>
    </div>

    <div class="text-xs text-gray-600 font-normal mb-2">
      Marques Brownlee - YouTube - July 20, 2019
    </div>

    <div class="text-base text-left feed-content"></div>

    <img class="mt-4" src="https://i3.ytimg.com/vi/ROkXM3csNWY/hqdefault.jpg">

  </div>

  <div class="mb-8 border bg-white border-gray-300 rounded-lg p-4 pt-0">


    <div class="text-base font-normal text-black font-medium pt-4">
      <a class="black underline" href="https://www.instagram.com/p/Bz7N6GBih54/"></a>
    </div>

    <div class="text-xs text-gray-600 font-normal mb-2">
      Timo Kuilder - July 15, 2019
    </div>

    <div class="text-base text-left feed-content">
      Current obsession: drawing cloth and other things
      with folds and wrinkles.
    </div>

    <img class="mt-4" src="<%= image_url "instagram-preview-timo.jpg" %>">

  </div>

  <div class="mb-8 border bg-white border-gray-300 rounded-lg p-4 pt-0">


    <div class="text-base font-normal text-black font-medium pt-4">
      <a class="black underline" href="https://www.instagram.com/p/BxZgqNwlk2l/"></a>
    </div>

    <div class="text-xs text-gray-600 font-normal mb-2">
      Feisty Favorites - July 11, 2019
    </div>

    <div class="text-base text-left feed-content">
      Het was echt heerlijk #weekjevakantie maar nu ook
      weer lekker #backtobusiness
    </div>

    <img class="mt-4" src="<%= image_url "instagram-preview-marjolein.jpg" %>">

  </div>


  <div class="text-center mb-5 text-sm text-gray-600 max-w-md mx-auto">
    <p class="mb-2">
      You are receiving this email because you signed up at <a>rssmailer.app</a>.
    </p>
    <p>
      Too much email? You can <a>change the number of feeds</a>
      you are following or <a>unsubscribe</a> if you don't want any email.
    </p>
  </div>
</div>
