<div class="container mx-auto relative montserrat">
  <h1 class="leading-tight font-bold text-3xl xl:text-6xl mb-4 w-full text-gray-800 text-center montserrat">
    A daily email from your <br> favorite creators
  </h1>

  <div class="text-center my-4">
    <%= link_to "Get Started",
      new_user_registration_path, 
      class: "btn btn--primary text-white border-4 font-bold py-4 px-6 text-xl"
    %>
  </div>

  <div class="text-center my-4">
    <p class="text-gray-600">
      Limited FREE or <%= link_to "$29/year PRO", pricing_path, class: "text-gray-800 underline font-bold" %>
    </p>
  </div>

  <div class="mx-auto w-5/6 sm:w-4/6">
    <% unless Rails.env.test? %>
      <%= render "chrome" do %>
        <iframe src="/example-email" class="w-full" data-controller="example" height="600px"></iframe>
      <% end %>
    <% end %>
  </div>

  <h1 class="leading-tight font-bold my-4 w-full text-2xl xl:text-4xl text-gray-800 text-center">
    What's Briefcake?
  </h1>

  <div class="my-4 px-4 flex justify-around">
    <p class="text-gray-600 text-center">
      We help you follow websites by using RSS feeds. Once a day at your preferred <br> time, we'll brief you with a sweet digest of freshly baked content.
    </p>
  </div>

  <div class="text-center">
    <%= link_to "Are you a creator?", creator_path, class: "color-brown underline" %>
  </div>


</div>

