<div class="container mx-auto relative montserrat">
  <h1 class="leading-tight font-bold text-3xl md:text-6xl mb-4 w-full text-gray-800 text-center montserrat">
    A daily email from your <br> favorite websites
  </h1>

  <div class="text-center my-4">
    <%= link_to "Get Started",
      new_user_registration_path, 
      class: "btn btn--primary text-white border-4 font-bold py-4 px-6 text-xl"
    %>

    or <%= link_to "Login", new_user_session_path, class: "btn btn--secondary border-4 font-bold py-4 px-6 text-xl" %>

  </div>

  <div class="text-center my-4">
    <p class="text-gray-600">
      Comes as a freemium or <%= link_to "$25/year PRO", pricing_path, class: "text-gray-800 underline font-bold" %>
    </p>
  </div>

  <%= image_tag "briefcake.png", class: "mx-auto", alt: "Briefcake phone example email" %>


  <h1 class="leading-tight font-bold my-4 w-full text-2xl xl:text-4xl text-gray-800 text-center">
    What's Briefcake?
  </h1>

  <div class="my-4 px-4 flex justify-around">
    <p class="text-gray-600 text-center">
      We help you follow websites by using RSS feeds. Once a day at your preferred <br> time, we'll brief you with a sweet digest of freshly baked content.
    </p>
  </div>
</div>

