<div class="container mx-auto relative">
  <h1 class="leading-tight font-bold mb-4 w-full text-6xl text-gray-800 text-center">
    A daily email from your favorite creators
  </h1>
  <div class="text-center my-4">
    <%= link_to "Start Adding Feeds",
      new_user_registration_path, 
      class: "btn btn-primary text-white bg-yellow-900 border-blue-500 border-4"
    %>
  </div>

  <div class="text-center my-4">
    <p class="text-gray-600">
      Limited FREE or $29/year PRO
    </p>
  </div>

  <div>
    <% unless Rails.env.test? %>
      <%= render "chrome" do %>
        <iframe src="/example-email" class="flex-grow w-full" data-controller="example"></iframe>
      <% end %>
    <% end %>
  </div>

  <h1 class="leading-tight font-bold my-4 w-full text-4xl text-gray-800 text-center">
    What's briefcake?
  </h1>

  <div class="text-center my-4">
    <p class="text-gray-600">
      We help you follow websites by using RSS feeds. Once a day at your preferred time, we'll brief you with a sweet digest of freshly baked content.
    </p>
  </div>

  <div class="text-center my-4">
    <%= link_to "Are you a creator?", root_path, class: "text-gray-800" %>
  </div>

</div>

