<div class="mx-auto py-10">
  <div class="max-w-4xl text-center sm:text-left mx-auto mb-12 text-gray-700 md:flex px-4 md:px-0">
    <%= image_tag "jankees2.png", class: "mb-4" %>
    <div class="ml-4 -mt-2">
      <h2 class="text-2xl font-bold mb-4">Thanks for subscribing!</h2>

      <p class="mb-2">You can now use all the pro features of RSSMailer. By subscribing you enable me to work on this project.</p>
      <p>
        If you have a questions please send me <%= link_to "a message", "mailto:rssmailer@piplabs.io" %>!
      </p>
    </div>
  </div>
</div>
