<div class="card card--light mb-8">
	<div class="card__content">
		<h3 class="text-2xl font-bold">Integrations</h3>
		<hr>
		<%= form_with(model: current_user, url: integrations_url, method: :post, local: true) do |form| %>
		  <div class="my-4">
			  <div class="field-centered ">
			    <%= form.check_box :pocket, class: "input-checkbox bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500" %>
			    <%= form.label :pocket, class: 'm-0 text-lg font-bold' %>
			  </div>
			  <p class="mb-4">
			  	Gives ability to save articles into a <a href="https://getpocket.com">pocket</a> for later reading.
			  </p>
	 
			  <div>
			    <%= form.submit("Update", class: "btn btn--primary") %>
			  </div>
			</div>
		<% end %>
	</div>
</div>