<div class="mx-auto max-w-xl px-5">
  <div class="border bg-white border-gray-300 rounded p-5 mb-5 shadow-lg">
    <h1 class="text-xl font-bold mb-2">Your email is now confirmed!</h1>
    <p class="mb-5">Briefcake will be sending updates for websites that your following. Make sure to add website that you'd like to follow! </p>
    <%= link_to "Proceed", new_user_session_path, class: "btn btn--primary" %>
  </div>
</div>
