<div class="mx-auto max-w-xl px-5">
  <div class="border bg-white border-gray-300 rounded p-5 mb-5 shadow-lg">
    <h1 class="text-xl font-bold mb-2">You are now confirmed!</h1>
    <p class="mb-5">We are now able to send email. To change the sites you are following, please log in.</p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn--primary" %>
  </div>
</div>
