<!DOCTYPE html>
<html class="w-full sm:h-full">
<head>
  <%= render "shared/head" %>
</head>

<body>
  <%= render "shared/flash" %>
  <%= yield %>
  <%= render "shared/simple_analytics" %>
</body>
</html>


