<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>

<body>
  <%= render "shared/flash" %>
  <div class="">
    <%= link_to "ðŸ° #{Rails.configuration.application_name}", root_url, class: "block my-8 text-2xl text-center font-bold text-black hover:text-grey-dark no-underline" %>

    <%= yield %>
  </div>

</body>
</html>

