<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="bg-white">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" media="screen" href="<%= asset_pack_url "emails.css", host: Rails.application.config.action_mailer.default_url_options[:host] %>" />
</head>
<body class="bg-white">
<table width="100%" height="100%">
  <tr>
    <td width="100%" height="100%" bgcolor="white">
      <%= yield %>
    </td>
  </tr>
</table>
</body>
</html>

